@media (min-width: 576px) {
    /*.modal-dialog {*/
    /*    max-width: 600px;*/
    /*}*/
}

/*pc*/
@media (min-width: 1025px) {

}

/*laptop*/
@media (max-width: 1024px) {
    .banner {
        padding: 180px 40px;
    }
    .feedback-item{
        flex-direction: column;
        text-align: center;
    }
    .feedback-item .img {
        margin-top: 15px;
    }
}

/*tablet*/
@media (max-width: 768px) {
    .blog-item-slide .img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .blog-item-slide {
        flex-direction: column;
    }

    .blog-item-slide .img img {
        width: 100%;
    }

    .slide-blog .slick-prev {
        left: 0;
    }

    .slide-blog .slick-next {
        right: 0;
    }
    .slider-mobile-only {
        margin-bottom: 50px;
    }
    .index{
        font-size: 35px;
    }
    .banner {
        padding: 80px 40px;
    }
    .banner-title {
        font-size: 35px;
    }
    .contact-list {
        flex-direction: column;
    }
    .contact-list a {
        font-size: 14px;
        justify-content: center;
    }
    .section-report {
        padding: 80px 20px;
    }
    .product-item{
        flex-direction: column;
    }
    .product-item .img{
        width: 100%;
        margin-bottom: 40px;
    }
    .img-title {
        width: 160px;
    }
    .nav-link {
        text-align: right !important;
        padding-right: 0 !important;
    }

    .box-profile {
        display: flex;
        justify-content: flex-end;
    }
    .tbl-rate{
        margin-top: 35px;
    }
    .title-gra {
        font-size: 30px;
    }
    .box-payment, .box-mess {
        margin-top: 50px;
    }
}

/*mobile*/
@media(max-width: 575px){
    .form-history {
        height: auto;
        flex-direction: column;
        min-width: 200px;
        text-align: center;
        border-radius: 0;
        overflow: inherit;
    }

    .form-history input {
        width: 100%;
        height: 40px;
        border-radius: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    .form-history button {
        border-radius: 20px;
        height: 40px !important;
        display: block;
        flex: auto;
    }
    .title-icon-btn span {
        min-width: auto;
        font-size: 13px;
        padding: 10px;
        height: auto !important;
        line-height: 21px;
    }

    .title-icon-btn {
        align-items: center;
    }

    .title-icon-btn img {
        width: 70px;
    }

    .banner {
        padding: 40px 15px;
    }

    .form-search .btn {
        max-width: 90%;
        min-width: 150px;
    }

    .i-index * {font-size: 12px !important;}

    .i-index img {
        width: 12px;
    }
    .rate-item h5 .number-index {
        font-size: 40px;
        top: 2px;
        right: 12px;
    }
    .rate-item h5 {
        padding: 20px 10px;
        font-size: 18px;
    }

    .index-item {
        width: 120px;
        height: 150px;
    }

    .tag-index {
        gap: 0;
    }

    .tag-index span {
        font-size: 15px;
        width: 140px;
    }

    .title-gra {
        line-height: 32px;
    }

    .title-gra.text-footer {
        margin-bottom: 30px;
    }

    .txt-f{
        font-size: 20px;
        text-align: center;
    }
    .title-gra{
        font-size: 22px;
    }
    .form-search{
        width: 100%;
    }
    .banner {
        padding: 80px 20px;
    }
    .title-result span{
        font-size: 25px;
    }
    .img-report img{
        max-width: 250px;
    }
    .section-report{
        padding: 50px 15px;
    }
    .form-register .form-control{
        width: 100%;
    }
}

@media (min-width: 769px) {
    .slick-counter {
        display: none;
    }
}
